
:host {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.movie-form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  border-style: solid;
  border-width: 1px;
  border-color: #f0f0f0;
}

.submit-section {
  display: flex;
  justify-content: flex-end;
}